<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/includes/head.html' %}
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/admin-board.css">
    <link rel="stylesheet" href="/static/styles/partners.css">
    <title>Update Partner</title>
</head>
<body>
    {% include '/includes/navbar.html' %}
    <h1>Update Partner</h1>
    <form id="update-partner-form" enctype='multipart/form-data'>
        {{ form.hidden_tag() }}
        <label for="name">Partner Name</label>
        {{ form.name(class="input-primary") }}
        <label for="website">Website</label>
        {{ form.website(class="input-primary") }}
        <label for="logo">Logo</label>
        {{ form.logo(class="file-input") }}
        <button type="button" id="update-partner-btn" class="btn">Update Partner</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('update-partner-btn').addEventListener('click', function () {
                updatePartner("{{ partner.id }}");
            });
        });

        function getCsrfToken() {
            return document.querySelector('input[name="csrf_token"]').value;
        }

        function updatePartner(partnerId) {
            const form = document.getElementById('update-partner-form');
            const formData = new FormData(form);

            fetch(`/admin/update-partner/${partnerId}`, {
                method: 'PUT', 
                headers: {
                    'X-CSRFToken': getCsrfToken()
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Partner updated successfully!') {
                    alert('Partner updated successfully!');
                    window.location.href = '/admin/upload-partner';
                } else {
                    alert('Failed to update partner. ' + (data.error || 'Please try again.'));
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        }
    </script>
</body>
</html>
