{% include '/includes/head.html' %}
<link rel="stylesheet" href="/static/styles/main.css">
<link rel="stylesheet" href="/static/styles/admin-board.css">
<link rel="stylesheet" href="/static/styles/partners.css">
<title>{{ Title }}</title>
<style>
    .grid-container {
        margin-top: 5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item {
        width: 25rem;
    }
</style>
</head>
<body>
    {% include '/includes/navbar.html' %}
    <h1>Upload Partners</h1>
    <form action="/admin/upload-partner" method='POST' enctype='multipart/form-data'>
        {{ form.hidden_tag() }}
        <label for="name">Partner Name</label>
        {{ form.name }}
        <label for="website">Website</label>
        {{ form.website }}
        <label for="logo">Logo</label>
        {{ form.logo }}
        {{ form.submit }}
    </form>
    <ul class="grid-container">
        {% for partner in partners %}
        <li class="grid-item">
            <img src="{{ url_for('static', filename='files/uploaded_logos/' ~ partner.logo) }}" alt="{{ partner.name }} logo">
            <h2>{{ partner.name }}</h2>
            <a href="{{ partner.website }}" target="_blank">Visit Website</a>
            <a href="/admin/update-partner/{{ partner.id }}"><button class="btn" style="margin-top: 0.5rem; width: 10rem; display: block;">Update Partner</button></a>
            <form method="POST" action="/admin/upload-partners/del/{{ partner.id }}">
                {{ form.hidden_tag() }}
                <button style="margin-top: 0.5rem; width: 10rem;" class="btn">Delete Partner</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
