{% include '/includes/head.html' %}
<link rel="stylesheet" href="/static/styles/footer.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Links</h4>
  	 			<ul>
  	 				<li><a href="/">home</a></li>
  	 				<li><a href="/who-we-are">who we are</a></li>
  	 				<li><a href="#">projects</a></li>
  	 				<li><a href="#">events</a></li>
					<li><a href="/partners">partners</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Contact Us</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>social media</h4>
  	 			<div class="social-links">
					<a href="https://www.youtube.com/@bassoassoluto" target="_blank"><i class="fab fa-youtube"></i></a>
  	 				<a href="https://www.facebook.com/borischristoff.org" target="_blank"><i class="fab fa-facebook-f"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
