<ul class="nav-container">
    <div class="logo-container">
        <img id="boris-head" src="/static/images/borisHead.png" alt="logo">
        <a href="/"><img src="/static/images/imagehomobacklogoscaled.png" alt="Logo"></a>
    </div>
    <div class="link-container">
        <li class="nav-item">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="/who-we-are" class="dropdown-start">
                <span class="arrow-container">
                    <svg id="arrow-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                    </svg>
                </span>
                Who We Are
            </a>              
            <ul class="dropdown">
                <li class="dropdown-item">
                    <a href="#">Mission And Vision</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Our Story</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Management And Team</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Artists</a>
                </li>
            </ul> 
        </li>
        <li class="nav-item">
            <a href="#" class="dropdown-start">
                <span class="arrow-container">
                    <svg id="arrow-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                    </svg>
                </span>
                Projects
            </a>              
            <ul class="dropdown">
                <li class="dropdown-item">
                    <a href="#">Sport VS Aggression</a>
                </li>
                <li class="dropdown-item">
                    <a href="#">Togheter - Sport & Art</a>
                </li>
            </ul> 
        </li>
        <li class="nav-item">
            <a href="#">Events</a>
        </li>  
    </div>    
    <div class="burger-icon-container">
        <a id="burger-icon">
            <svg id="burger-svg" xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
            <svg id="cross-svg" xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="display: none;">
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708L8.707 8l5.647 5.646a.5.5 0 1 1-.708.708L8 8.707l-5.646 5.647a.5.5 0 0 1-.708-.708L7.293 8 .646 2.354a.5.5 0 0 1 .708-.708L8 7.293l5.646-5.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </div>
    <ul class="nav-mobile-container">
        <li class="nav-item-m">
            <a href="/">Home</a>
        </li>
        <li class="nav-item-m">
            <a href="#">Projects</a>
        </li>
        <li class="nav-item-m">
            <a href="#">About Us</a>
        </li>
    </ul>
</ul>