{% include '/includes/head.html' %}
<link rel="stylesheet" href="/static/styles/home.css">
<script src="/static/scripts/home.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js" defer></script>
<title>{{ Title }}</title>
</head>
<body>
    {% include '/includes/navbar.html' %}
    <section aria-label="Newest Photos">
      <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
        </button>
        <button class="carousel-button next" data-carousel-button="next">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
          </svg>
        </button>
        <ul data-slides>
          <li class="slide" data-active>
            <img class="thumbnail" src="/static/images/borischristoffcoverscaled.png" alt="Nature Image #1">
          </li>
          <li class="slide">
            <img src="https://source.unsplash.com/eOpewngf68w" alt="Nature Image #2">
          </li>
        </ul>
      </div>
    </section>
</body>
</html>