{% include '/includes/head.html' %}
<link rel="stylesheet" href="/static/styles/who-we-are.css">
<script src="/static/scripts/animations.js" defer></script>
<title>{{ Title }}</title>
</head>
<body>
    {% include '/includes/navbar.html' %}
    <div class="header-img-container">
        <img src="/static/images/sportvsaggressionBG.png" alt="header img">
        <h1>Boris Christoff Foundation</h1>
    </div>
    <ul id="mission-vision">
        <li class="slide-in-left">
          <h1>Mission</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem delectus doloremque dolor temporibus, at similique quos. Voluptatibus recusandae vel quis, mollitia nostrum neque, deserunt quo reprehenderit, facere incidunt possimus tempore?</p>
        </li>
        <li class="slide-in-right">
          <h1>Vision</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum numquam at quia nesciunt eum necessitatibus iste modi exercitationem, nostrum iusto magnam. Quis maiores facere natus quas itaque adipisci praesentium magnam.</p>
        </li>
    </ul>
    <img id="musical-line" class="fade-in" src="/static/images/muscialnotesline-removebg-preview.png" alt="musicalLine">
    <div class="our-story-container" id="our-story">
        <h1 class="fade-in">Our Story</h1>
        <p class="fade-in">Boris Hristov Foundation is registered as a public benefit foundation with the mission to preserve the creative heritage of Boris Hristov, to help talented artists, to organize and realize cultural events of high artistic value, to fight for the preservation of the fundamental and timeless achievements of Bulgarian culture and art. Part of the fulfilment of this mission is the development of intensive international cooperation in the field of musical creativity, performing arts and concert activity.</p>
        <ul class="more-info-container">
            <ul class="ul-column-container">
                <li class="slide-in-right">
                    The Foundation organizes and conducts concerts, master classes, donation campaigns and seminars, as well as contributes to the presentation and realization of Bulgarian artists in the country and abroad.  The Boris Hristov Foundation maintains close contacts with governmental and non-governmental organizations, associations and foundations with similar goals.
                </li>
                <li class="slide-in-left">
                    In the leadership of the Foundation are Stoyan Bonchev, Nikolay Angelov and the world - famous tenor Maestro Boyko Tsvetanov - the first and most successful disciple of the great Boris Hristov. Our honorary members and supporters are the world-renowned pianist and composer Maestro Alexander Zografov, Academician Valentin Bobievsky, Academician Nikolai Tsankov, Prof. Margarita Boncheva, Prof. Georgi Chapkanov, who sculpted the most remarkable sculptural portrait of Boris Hristov - the symbol of our Foundation, as well as many other prominent representatives of culture, science and public life.
                </li>
            </ul>
            <li class="slide-in-right li-diff">
                In recent years, the Boris Hristov Foundation has held a series of celebrations, donation campaigns, events and concerts related to the 100th anniversary of Maestro Hristov. Part of the cycle of celebrations realized by the Foundation was the naming and grand opening of the first hall in Sofia, named after Boris Hristov. In this hall, located in the Central Military Club in Sofia, stands the sculpture of Boris Hristov, created by Professor Chapkanov, which our Foundation donated to the Ministry of Defence. This was a unique event - the fruit of the joint efforts of the Boris Hristov Foundation, Professor Georgi Chapkanov and three Ministers of Defence of the Republic of Bulgaria, which once again proved that when there is a true, national cause it meets continuity at all levels and unites our nation!
            </li>
        </ul>
    </div>
    <img id="musical-line" class="fade-in" src="/static/images/muscialnotesline-removebg-preview.png" alt="musicalLine">
    <h1 id="m-t-header-text" class="fade-in">Management And Team</h1>
    <ul class="m-t-container">
      <li class="m-t-item slide-in-left">
        <img src="/static/images/boykopfp.png" alt="BZ">
        <p class="name">Boiko Tsvetanov</p>
        <p class="position">Founder</p>
      </li>
      <li class="m-t-item slide-in-left">
        <img src="/static/images/stoyanpfp.jpeg" alt="SB">
        <p class="name">Stoyan Bonchev</p>
        <p class="position">Chairman</p>
      </li>
      <li class="m-t-item slide-in-right">
        <img src="/static/images/chencepfp.jpeg" alt="NA">
        <p class="name">Nikolai Angelov</p>
        <p class="position">CEO</p>
      </li>
      <li class="m-t-item slide-in-right">
        <img src="/static/images/alexpfp.jpg" alt="AZ">
        <p class="name">Alex Zografov</p>
        <p class="position">Art Director</p>
      </li>
    </ul>
</body>
</html>